<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Booked</h1>
        <table style="width: 100%;">

            <thead>
                <tr >
                  <th>Package</th>
                  <th>Price</th>
                  <th>Client Name</th>
                  <th>Email</th>
                  <th>Number</th>
                  <th>Number</th>
                  <th>Delete</th>
                </tr>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{i.Package_Name}}</td>
                        <td>{{i.Package_Price}}</td>
                        <td>{{i.Name}}</td>
                        <td>{{i.Email}}</td>
                        <td>{{i.Mobile|floatformat:0}}</td>
                        <td>{{i.Date}}</td>
                        <td><a href="{% url 'deletebookedData' dataid=i.id %}" class="btn btn-danger mr-2">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                    
                
              </thead>
        </table>
      </div>

      <style>

        table, th, td {
        border: 2px solid black;
        text-align: center;
        font-family: 'Times New Roman';
        font-size: 15px;
        table-layout: auto;
        height: 100%;
        
        

    }   

        </style>

    
</body>
</html>
{% endblock %}